@model IEnumerable<eBank.Models.Account>

@{
    ViewBag.Title = "Account Summary";
}

<nav>
    <ul id="menu">
        <li>@Html.ActionLink("OVERVIEW", "Index")</li>
        <li>@Html.ActionLink("ACCOUNTS", "AccountSummary")</li>
        <li>@Html.ActionLink("TRANSFERS", "TransferFunds", "Student")</li>
        <li>@Html.ActionLink("BILLPAY", "ViewExpenses", "Student")</li>
        <li>@Html.ActionLink("eSTATEMENTS", "eSTATEMENT", "Student")</li>
        <li>@Html.ActionLink("ALERTS", "SetupAlert", "Student")</li>
        <li>@Html.ActionLink("PREFERENCES", "Settings", "Student")</li>
    </ul>
</nav>

<h2>Account Summary</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountTotal)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountTotal)
        </td>
    </tr>
}

</table>
