@model eBank.ViewModels.AddExpenseViewModel

@{
    ViewBag.Title = "CreateExpense";
}

<h2>Add Expense</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Expense</legend>

        <div class="editor-label">
            Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            Account Number
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpenseAccountNumber)
            @Html.ValidationMessageFor(model => model.ExpenseAccountNumber)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
