@model eBank.Models.Student

@{
    ViewBag.Title = "EditProfile";
}

<h2>EditProfile</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Student</legend>

        @Html.HiddenFor(model => model.ClassroomID)
        @Html.HiddenFor(model => model.ExpensesID)
        @Html.HiddenFor(model => model.bBillsPaid)
        @Html.HiddenFor(model => model.bAlertSetup)
        @Html.HiddenFor(model => model.Points)
        @Html.HiddenFor(model => model.Rank)
        @Html.HiddenFor(model => model.AccountThreshold)
        @Html.HiddenFor(model => model.AlertAccountID)
        @Html.HiddenFor(model => model.Happiness)
        @Html.HiddenFor(model => model.Health)
        @Html.HiddenFor(model => model.Hunger)
        @Html.HiddenFor(model => model.Social)
        @Html.HiddenFor(model => model.Energy)
        @Html.HiddenFor(model => model.UserId)

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back", "Settings")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
