@model IEnumerable<eBank.Models.Classroom>

@{
    ViewBag.Title = "ListClassrooms";
}

<h2>List Classrooms</h2>

<p>
    @Html.ActionLink("Create New", "CreateClassroom")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassroomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassroomID)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ClassroomName, "ViewClassroom", new { id=item.ClassroomID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassroomID)
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back", "Index")
</p>
